/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-image: url(https://images.unsplash.com/photo-1506968430777-bf7784a87f23?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Zm9uZG8lMjBkZSUyMHBhbnRhbGxhJTIwZGUlMjBtYWRlcmF8ZW58MHx8MHx8fDA%3D);
}
h1{
    padding-top: 3rem;
    color: white;
}
form{
    border: 1px solid black;
    width: 400px;
    padding: 5px;
    justify-self: center;
}
ul {
    justify-items: center;
    padding-left: 0px;
}
li{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
ul li, li {
    border: 1px solid black;
    list-style: none;
    width: 400px;
    padding-left: 0px;
    background: white;
}
.trashIcon {
    border: none;
    background: none;
}

input{
    border: none;
    width: 390px;
}
form{
    background: white;
}
div{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0);
    height: 40rem;
}
footer{
    justify-self: center;
    width: 400px;
    text-align: left;
    color: white;

}

.trashCan {
    opacity: 0;
    color: red;
}
.liOfCard:hover .trashCan {
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
}